<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>

<body>
    <h2>Users Ujian Praktikum Difa_1174076</h2>
    <!-- <ol>
        {% for user in data %}
        <li>User Info</li>
        <ul>
            <li>First Name : {{ user.first_name }}</li>
            <li>Last Name : {{ user.last_name }}</li>
            <li>Email : {{ user.email }}</li>
        </ul>
        <br>
        {% endfor %}
    </ol> -->

</body>

</html>