<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, intial-scale=1.0">
	<title> Users  Ujian Praktikum Liyanarahma_1174039</title>
</head>
<body>
	<h1>Here are your users: Liyanarahma_1174039</h1>
	<ol>
		{% for u in users %}
		<li>
			Users Info
			<ul>
				<li>First Name: {{u.first_name}}</li>
				<li>Last Name: {{u.last_name}}</li>
				<li>Email: {{u.email}}</li>
			</ul>
		</li>
		{% endfor %}
	</ol>
</body>
</html>