<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
	<title>Users Ujian Praktikum Muhammad Abdul Gani Wijaya_1174071</title>
</head>
<body>
	<h1>Here are your users:_MuhammadAbdulGaniWijaya_1174071</h1>

	{% for video in allvideos %}
        <p>{{ video.id  }}. Users Info </p>
            <ul>
                <li>First Name : {{ video.first_name }}</li>
                <li>Last Name :{{ video.last_name }}</li>
                <li>Email : {{ video.Email }}</li>
            </ul>        
        {% endfor %}
    </body>
</html>


</body>
</html>