<html>

<head>
    <title>User Ujian Praktikum MUHAMMAD FAHMI_1174021</title>
</head>

<body>
    <h1>Here Are You users:_MUHAMMAD FAHMI_1174021</h1>

    <ol type="1">
        {% for cek in hasil %}
        <li>User Info</li>
        <ul>
            <li>First Name : {{cek.firstname}}</li>
            <li>Last Name : {{cek.lastname}}</li>
            <li>Email : {{cek.useremail}}</li>
        </ul>
        {% endfor %}
    </ol>
</body>

</html>