<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<meta charset="utf-8">
<title>Users Ujian Praktikum Felix_1174026</title>
</head>
	<body>
        <h1>Here are your users: Felix_1174026</h1>
        <ol> 
        {% for tiga in hasil %}
        <li>
            User Info
        </li>
        <ul>
            <li>First Name :{{tiga.firstname}}</li>
            <li>Last Name :{{tiga.lastname}}</li>
            <li>Email :{{tiga.email}}</li>
        </ul>
             {% endfor %}
        </ol>
        
	</body>
</html>